<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#141414"/>
    <link rel="shortcut icon" href="icons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="icons/apple-touch-icon-152x152.png">
    <title>CariResto</title>
  </head>
  <body>
    <a href="#main" class="skip-to-content">Skip To Content</a>
    <header class="header">
      <div class="header__content">
        <a href="/" aria-label="CariResto" class="header__brand">
          <img
            src="logo.svg"
            alt="CariResto"
            class="header__logo"
          />
        </a>
        <a href="#" class="nav__toggle" aria-label="navigation-menu">
          <span></span>
          <span></span>
          <span></span>
        </a>
        <nav class="nav">
          <ul class="nav__list">
            <li><a href="/" class="nav__link nav__link--active">Home</a></li>
            <li><a href="#/favorite" class="nav__link">Favorite</a></li>
            <li>
              <a
                href="https://edwintantawi.github.io"
                target="_blank"
                rel="noopener noreferrer"
                class="nav__link"
                >About Us</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="layer"></div>
    <div class="hero">
      <div class="hero__content">
        <h1 class="hero__title">
          Find the best places to eat <mark>around you</mark>.
        </h1>
        <p class="hero__description">
          Get a cool atmosphere for your every day to fill your day at the best
          restaurant near you with the best available facilities, making you
          comfortable...
        </p>
        <a href="#main" class="hero__cta">Find Now</a>
      </div>
    </div>
    <main id="main">
      <section class="container">
        <div class="list" id="root-content">
          <!-- render -->
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="container">
        <p class="footer__copyright">Copyright &COPY; 2020 - CariResto</p>
      </div>
    </footer>
  </body>
</html>
