@media screen and (max-width: 579px){
  .nav--active {
  transform: translateY(0);
  z-index: -1;
  }
  .layer--active {
  visibility: visible;
  }
}

@media screen and (min-width: 580px) {
  .nav__toggle {
    display: none;
  }
  .nav {
    transform: none;
    position: unset;
    margin: 24px;
    background: none;
    border: none;
  }

  .nav__list {
    display: flex;
  }
  .nav__link {
    margin: 0 0 0 26px;
    padding: 12px;
  }
  .detail__menus{
  grid-template-columns: 1fr 1fr;
  }
  .list__item{
    padding: 0;
  }
  .list__info h3 {
  font-size: 0.8rem;
  }

  .list__info span {
    font-size: 1rem;
  }
}
@media screen and (min-width: 700px) {
  .hero__title {
    font-size: 6vw;
  }

  p {
    font-size: 1rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  .list {
    padding: 100px 0;
  }
  .footer {
    padding: 32px 16px;
  }
}
@media screen and (min-width: 900px) {
  .hero {
    padding: 150px 0 120px;
  }

  .hero__title {
    font-size: 3.2rem;
  }
}
@media screen and (min-width: 1160px) {
  /* list detail */
.detail{
  padding: 50px 0;
  display: grid;
  grid-template-columns: 500px 1fr;
  gap: 32px;
}
.detail__image{ 
  position: sticky;
  top: 97px;
  height: auto;
}
}
@media screen and (min-width: 1400px) {
  .hero__content {
    min-width: 1400px;
  }
  .hero__title {
    font-size: 4.6rem;
  }
}
  
